body {
    margin: 0;
    overflow: hidden;
    background-color:rgb(41, 46, 101);
    font-family: "Courier New", monospace;
    letter-spacing: 2px;
    color: white;
}

canvas {
    display: block;
}

h1 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    color: white;
    text-align: center;
    font-size: 55px;
}

h2 {
    position: absolute;
    
    top: 150px;
    margin-top: 75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 28px;

}


#easy, #medium, #hard, #easyLabel, #mediumLabel, #hardLabel {
    position: absolute;
    z-index: 10;
    font-size: 22px;
}

#easy {
    top: 290px;
    left: 46%;
}

#easyLabel {
    top: 286px;
    left: 48%;
}

#medium {
    top: 330px;
    left: 46%;
}

#mediumLabel {
    top: 326px;
    left: 48%;
}
#hard {
    top: 370px;
    left: 46%;

}

#hardLabel {
    top: 366px;
    left: 48%;
}

#startBtn {
    position: absolute;
    top: 420px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 12px 30px;
    font-size: 24px;
    border: none;
    background-color: white;
    color: rgb(20, 20, 40);
    cursor: pointer;

}

#startBtn:hover {
    background-color: rgb(220, 220, 220);
}